.admin-wrapper {

  .table > thead > tr > th {
    text-align: center;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

}
