body {
  font-family: 'ProximaNova', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: none;
}

html, body {
  height: 100%;
}

.main {

  >.row>.header {
  }

  >.row>.content {

  }

  >.row>.footer {
  }
}
