.row
  .col-sm-4.col-sm-offset-4.text-center
    %h2= 'Upgrade your membership to premium'
    = simple_form_for current_user, url: upgrading_path, method: :post do |f|
      = f.hidden_field :premium, value: 1
      = f.submit 'UPGRADE PREMIUM', class: 'btn btn-primary'
